
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&display=swap');


// VARIABLES
$pokemon-type-color: (
    poison: #d296ed,
    bug: #b3d374,
    ground: #ff8054,
    flying: #a2b3cb,
    fairy: lightpink,
    fighting: #ff7272,
    psychic: plum,
    dragon: silver,
    dark: #7c7c7c,
    ghost: #a0cad1,
    steel: #a1a2a3,
    rock: #a1a2a3,
    ice: #89dceb,
    electric: #ffe965,
    grass: #62d5b4,
    fire: #ffa761,
    water: #8bacf6,
    normal: #b9b7b7,
);


// TYPES
@each $type, $color in $pokemon-type-color {
    .#{$type} {
        background-color: $color !important;
        
        .pokemon__element-types,
        .pokemon-list-element__types {
            background-color: darken($color, 8%) !important;
        }
    }
}

// STYLES
.pokemon__element-types,
.pokemon-list-element__types {
    height: fit-content;
    width: fit-content;
}
.item-bg-color {
    background-color: rgb(94 234 212);
}


// FONTS
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.font-semibold {
    letter-spacing: 3px;
}


/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the fade-in animation to the element */
.fade-in-element {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
.fade-in-element-fast {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
  