
//@import '@/assets/styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&display=swap');


// TYPES
@each $type, $color in $pokemon-type-color {
    .#{$type} {
        background-color: $color !important;
        
        .pokemon__element-types,
        .pokemon-list-element__types {
            background-color: darken($color, 8%) !important;
        }
    }
}

// STYLES
.pokemon__element-types,
.pokemon-list-element__types {
    height: fit-content;
    width: fit-content;
}

.item-bg-color {
    background-color: $palette-color-03;
}

.custom-capitalize {
    text-transform: lowercase;
    &::first-letter { text-transform: uppercase; }
}


// FONTS
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.font-semibold {
    letter-spacing: 3px;
}


// TRANSITIONS AND ANIMATIONS
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
.fade-in-element-fast {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
  